.form-wrapper {
  margin: 60px auto;
  max-width: 45%;
}

.ans-var {
  display: block;
  width: fit-content;
  margin-bottom: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.question {
  font-weight: 600;
}

.quiz-form {
  margin-bottom: 50px;
}

.ans {
  margin-top: 15px;
}

label.selected {
  color: rgba(34, 128, 7, 1);
}

input[type="radio"]:not(:checked) + label.selected {
  color: rgba(34, 128, 7, 0.5);
}

label.uncorrect {
  color: rgba(206, 0, 20, 1);
}

.hidden {
  position: absolute;
  visibility: hidden
}

input[type="radio"]:checked, 
input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 19px;
  height: 19px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 100%;
}
  
input[type="radio"]:not(:checked) + label:hover:before {
    border-color: rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.04);
}

input[type="radio"]:not(:checked) + label:active:before {
  border-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.09);
}

input[type="radio"]:disabled + label:before,
input[type="radio"]:disabled + label:hover:before,
input[type="radio"]:disabled + label:active:before {
  border-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.04);
}

input[type="radio"]:checked + label.uncorrect:before {
    border: 2px solid rgba(206, 0, 20, 1);
    background:
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="fff"><path fill="%23fff" d="M5 6.417L1.7 9.7.3 8.3 3.583 5 .3 1.7 1.7.3 5 3.583 8.3.3l1.4 1.4L6.417 5 9.7 8.3 8.3 9.7 5 6.417z"/></svg>')
    no-repeat rgba(206, 0, 20, 1) 50%;
}

input[type="radio"]:checked + label.selected:before {
  border: 2px solid rgba(34, 128, 7, 1);
  background:
  url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" fill="fff"><path fill="%23fff" d="M1.867 3.817l2.35 2.35L10.133.25l1.834 1.85-7.75 7.75-4.2-4.2 1.85-1.833z"/></svg>')
  no-repeat rgba(34, 128, 7, 1) 50%;
}

input[type="radio"]:not(:checked) + label.selected:before {
  border: 2px solid rgba(34, 128, 7, 0);
  background:
  url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" fill="fff"><path fill="%23fff" d="M1.867 3.817l2.35 2.35L10.133.25l1.834 1.85-7.75 7.75-4.2-4.2 1.85-1.833z"/></svg>')
  no-repeat rgba(34, 128, 7, 0.5) 50%;
}

#result {
  margin: 0 auto 300px;
  max-width: 45%;
}

.result-wrapper {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.description-wrapper {
  text-align: center;
}

.title-description {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.text-description {
  margin: 10px 0;
  font-size: 1.2rem;
}